---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImportedImage from "../image/19008624-8BB1-44A0-BF0E-C2FC30598E48.png";
---

<Layout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Astro</title>
    </head>
    <body>
      <header>
        <h1>自己紹介</h1>
      </header>

      <main>
        <section class="profile">
          <div class="img">
            <Image
              src={myImportedImage}
              alt="profile-img"
              width="200"
              height="200"
              style={{ borderRadius: "50%" }}
            />
          </div>
          <div class="img-detail">
            <p>熊谷勇希</p>
          </div>
        </section>
      </main>

      <script>
        import "../../scripts/menu.js";
      </script>
    </body>
  </html>
</Layout>

<style></style>
