---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImportedImage from "../image/19008624-8BB1-44A0-BF0E-C2FC30598E48.png";
---

<Layout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Astro</title>
    </head>
    <body>
      <header>
        <h1>Profile</h1>
      </header>

      <main>
        <section class="profile">
          <div class="img">
            <Image
              src={myImportedImage}
              alt="profile-img"
              width="150"
              height="150"
              style={{ borderRadius: "50%" }}
            />
          </div>
          <div class="img-detail">
            <h3>熊谷勇希</h3>
            <p>
              岩手県出身。24歳。<br />
              2023年7月末で前職を退職し、同年9月からプログラミング学習を開始。<br
              />
              HTML/CSS、JavaScriptを中心に学習、現在求職中。
            </p>
          </div>
        </section>
      </main>

      <script>
        import "../../scripts/menu.js";
      </script>
    </body>
  </html>
</Layout>

<style>
  p {
    margin: 0;
  }

  header h1 {
    margin: 30px 0;
  }

  img {
    margin-top: 30px;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .img-detail {
    margin-left: 50px;
  }

  @media screen and (max-width: 635px) {
    .profile {
      flex-direction: column;
    }
  }
</style>
